* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    
}

a {
    text-decoration: none;
    color: #000;
}

input {
    outline: none;
    border: none;
}

em,
i {
    font-style: normal;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 单伪元素法 */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}